/*------------Squelette------------*/
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 0px;
    margin: 0px;
}

main{
    width: 90%;
    margin: 0px auto;
    border: dashed;
}

header.grandtitre{
    background-color: #879C6B;
    color: white;
    text-align: center;
    padding: 10px;
}
header.grandtitre h1{
    margin: 0px;
}

nav.nav{
    background-color: #464D4D;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

nav.nav a{
    color: white;
}

nav.nav a:hover{
    color: #BED69D;
}

footer.fin{
    background-color: #464D4D;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
footer.fin h4{
    margin: 0px;
}

h2{
    text-decoration: underline;
    padding-block: 20px;
}

/*------------articles------------*/

article{
    margin: 10px;
    width: calc(60% - 20px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #879C6B ;
    color: white;
    border-radius: 18px;
}
article h2,h3,h4{
    align-self: flex-start;
    margin: 4px;
}
article footer{
    align-self: flex-end;
}


/*------------Media Queries------------*/

@media screen and (min-width: 1200px){
    main{
        width: 70%;
    }
}
@media screen and (min-width: 960px) and (max-width: 1199px){
    main{
        width: 90%;
    }
}