/*------------Squelette------------*/
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
}

body{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

main{
    margin: 0px auto;
    margin-block: 0px auto;
    /*border: dashed;*/
    padding: 5px;
    flex-grow: 1;
}

header.grandtitre{
    background-color: #879C6B;
    color: white;
    text-align: center;
    padding: 10px;
}
header.grandtitre h1{
    margin: 0px;
}

nav.nav{
    background-color: #464D4D;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav.nav a{
    color: white;
    text-decoration: none;
}

nav.nav a:hover{
    color: #F8F096;
    text-decoration: underline;
}

nav.nav#nav2{
    background-color: rgb(163, 163, 163);
}

footer.fin{
    background-color: #464D4D;
    padding: 5px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

h2{
    text-decoration: underline;
    padding-block: 20px;
}

footer.retouraccueil{
    text-align: end;
    margin-right: 2.5%;
}
footer.retouraccueil a{
    background-color: #464D4D;
    color: white;
    padding-block: 5px;
    padding-inline: 10px;
    border-radius: 16px;
}

footer.allerpage{
    margin: 5px;
}

footer.allerpage a{
    color: #464D4D;
    text-decoration: none;
    background-color: white;
    padding: 6px;
    padding-inline: 8px;
    border-radius: 18px;
}
footer.allerpage a:hover{
    color: white;
    text-decoration: underline;
    background-color: #464D4D;
}

p{
    text-indent: 5%;
    line-height: 25px;
}

h3{
    margin: 15px auto;
}
/*------------articles------------*/
main#accueil{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #879C6B ;
    color: white;
    border-radius: 18px;
}
h2,h3,h4{
    align-self: flex-start;
    margin: 4px;
}
article footer{
    align-self: flex-end;
}

/*------------Flexbox Accueil------------*/

section.accueil{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

section.accueil article{
    width: calc(50% - 40px);
}

h2.accueil{
    align-self: center;
}

/*------------CSS Callisthenie------------*/

/*div.callisthenie{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}*/

section.milieu section#articles-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
/*section.milieu section#articles-container article.contenu{
    width: calc(100% / 3);
}*/
section.milieu h2,section.milieu h4{
    text-align: center;
    margin-top: 10px;
}

.grandarticle{
    color: #464D4D;
    border-radius: 0%;
    background: white;
    margin-block: 30px;
}
.grandarticle a{
    color: #464D4D;
}
.grandarticle a:hover{
    font-weight: bold;
}
h3{
    margin: 15px auto;
}

.milieu footer.allerpage{
    align-self: center;
    margin: 15px;
    font-weight: bold;
}

/*------------Background catégories------------*/
article#statique h4{ 
    text-shadow: 1px 0px 4px rgb(0, 0, 0);
}

article.contenu{
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 265px;
}
article#statique{
    background-image: url(../Images/Illustrations/Statique/Valentin-planche-poings.png);
    background-position-y: 65%;
}
article#dynamique{
    background-image: url(../);
}
article#freestyle{
    background-image: url(../);
}
article#setandrep{
    background-image: url(../);
}
article#streetlifting{
    background-image: url(../);
}

/*------------Page statique------------*/

section.illustrations{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    /*border: solid #ffea00;*/
}
section.illustrations figure{
    flex-basis: 265px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    text-align: center;
    margin-inline: 0px;
    background-color: #464D4D;
    color: #FF7575;
    /*border: solid #FF7575;*/
}
/*section.illustrations figure:hover{
    border: solid #FF7575;
}*/
section.illustrations figure img{
    width: 100%;
}
section.illustrations figure figcaption{
    flex-basis: 100%;
    margin-block: 0px;
    color: white;
    background-color: #464D4D;
    padding-block: 5px;
    margin: 0px;
    align-self: flex-end;
}
.grandarticle ul{
    line-height: 25px;
}
.grandarticle ul#figuresbase{
    margin: 0px;
}
/*------------Flexbox Contact------------*/

section.contact{
    display: flex;
    justify-content: space-around;
}

section.contact article{
    width: calc(50% - 40px);
}
section.contact article img{
    margin: 10px auto;
}

/*------------Media Queries------------*/

@media screen and (min-width: 1919px){
    main{
        width: 70%;
    }
    article.contenu{
        width: 400px;
        height: 150px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1918px){
    main{
        width: 70%;
    }
    article.contenu{
        width: 265px;
    }
}
@media screen and (min-width: 960px) and (max-width: 1199px){
    main{
        width: 90%;
    }
    article.contenu{
        width: 265px;
    }
}